In [1]:
import numpy as np
import tushare as ts
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
cons = ts.get_apis()
df = ts.bar('000300', conn = cons, asset = 'INDEX', start_date = '2010-01-01', end_date = '')
df.apply(lambda x : np.sum(x == 'NaN'))
df.info()

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

array([['000300', 5036.28, 5005.9, ..., 1505297.0, 291072573440.0, -0.87],
       ['000300', 5066.35, 5049.7, ..., 1591077.0, 318685544448.0, -0.67],
       ['000300', 5090.02, 5083.8, ..., 2118016.0, 426376527872.0, 0.57],
       ...,
       ['000300', 3558.7, 3541.73, ..., 784731.0, 121045991424.0, -0.63],
       ['000300', 3545.19, 3564.04, ..., 858096.0, 128302440448.0, 0.81],
       ['000300', 3592.47, 3535.23, ..., 661010.0, 93419839488.0, nan]],
      dtype=object)

In [30]:
df.info()
df.describe()
df.to_csv('sh300.csv')
df.columns
df.describe()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2905 entries, 2021-12-15 to 2010-01-04
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   code      2905 non-null   object
 1   open      2905 non-null   float64
 2   close     2905 non-null   float64
 3   high      2905 non-null   float64
 4   low       2905 non-null   float64
 5   vol       2905 non-null   float64
 6   amount    2905 non-null   float64
 7   p_change  2904 non-null   float64
dtypes: float64(7), object(1)
memory usage: 204.3+ KB

,open,close,high,low,vol,amount,p_change
count,2905.000000,2905.000000,2905.000000,2905.000000,2.905000e+03,2.905000e+03,2904.000000
mean,3401.382802,3404.181243,3430.151649,3373.204761,1.169174e+06,1.577569e+11,0.022311
std,849.508467,849.726010,855.874376,840.948558,8.724551e+05,1.348053e+11,1.434959
min,2079.870000,2086.970000,2118.790000,2023.170000,2.190120e+05,2.120044e+10,-8.750000
25%,2648.930000,2650.850000,2667.680000,2623.600000,6.218530e+05,6.748654e+10,-0.640000
50%,3319.210000,3324.420000,3344.860000,3295.730000,9.160110e+05,1.108582e+11,0.035000
75%,3887.550000,3891.230000,3913.960000,3861.010000,1.408889e+06,2.007767e+11,0.720000
max,5922.070000,5807.720000,5930.910000,5747.660000,6.864391e+06,9.494980e+11,6.710000